apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nats-jetstream-data
  labels:
    app.kubernetes.io/name: nats-jetstream
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_NATS_DATA_SIZE}
