apiVersion: apps/v1
kind: Deployment
metadata:
  name: portainer
  labels:
    app.kubernetes.io/name: portainer
    app.kubernetes.io/component: portainer
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: portainer
      app.kubernetes.io/component: portainer
  template:
    metadata:
      labels:
        app.kubernetes.io/name: portainer
        app.kubernetes.io/component: portainer
    spec:
      containers:
        - name: portainer
          image: docker.io/portainer/portainer-ce:${PARAM_APP_IMAGE_TAG}
          ports:
            - name: http
              containerPort: 9000
              protocol: TCP
          volumeMounts:
            - name: portainer-data
              mountPath: /data
          startupProbe:
            httpGet:
              path: /api/status
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /api/status
              port: http
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/status
              port: http
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            requests:
              cpu: ${PARAM_PORTAINER_CPU_REQUEST}
              memory: ${PARAM_PORTAINER_MEMORY_REQUEST}
            limits:
              cpu: ${PARAM_PORTAINER_CPU_LIMIT}
              memory: ${PARAM_PORTAINER_MEMORY_LIMIT}
      volumes:
        - name: portainer-data
          persistentVolumeClaim:
            claimName: portainer-data
