apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: code-server-data
  labels:
    app.kubernetes.io/name: code-server
    app.kubernetes.io/component: code-server
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_CODE_SERVER_DATA_SIZE}
