apiVersion: v1
kind: Secret
metadata:
  name: mysql-credentials
  labels:
    app.kubernetes.io/name: mysql
    app.kubernetes.io/component: database
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "${PARAM_MYSQL_ROOT_PASSWORD}"
  MYSQL_USER: "${PARAM_MYSQL_USER}"
  MYSQL_PASSWORD: "${PARAM_MYSQL_PASSWORD}"
  MYSQL_DATABASE: "${PARAM_MYSQL_DATABASE}"
