apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: owncloud-mariadb-data
  labels:
    app.kubernetes.io/name: owncloud
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_OWNCLOUD_DB_DATA_SIZE}
