apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: owncloud-data
  labels:
    app.kubernetes.io/name: owncloud
    app.kubernetes.io/component: app
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_OWNCLOUD_DATA_SIZE}
