apiVersion: v1
kind: ConfigMap
metadata:
  name: rabbitmq-config
  labels:
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/component: database
data:
  rabbitmq.conf: |
    loopback_users.guest = false
    listeners.tcp.default = 5672
    management.tcp.port = 15672
    vm_memory_high_watermark.relative = 0.7
    disk_free_limit.relative = 1.5
  enabled_plugins: |
    [rabbitmq_management,rabbitmq_management_agent,rabbitmq_prometheus].
