apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
  labels:
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/component: database
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: rabbitmq
      app.kubernetes.io/component: database
  template:
    metadata:
      labels:
        app.kubernetes.io/name: rabbitmq
        app.kubernetes.io/component: database
    spec:
      containers:
        - name: rabbitmq
          image: docker.io/library/rabbitmq:${PARAM_APP_IMAGE_TAG}
          ports:
            - containerPort: 5672
              protocol: TCP
            - containerPort: 15672
              protocol: TCP
          envFrom:
            - secretRef:
                name: rabbitmq-credentials
          volumeMounts:
            - name: rabbitmq-data
              mountPath: /var/lib/rabbitmq
            - name: rabbitmq-config
              mountPath: /etc/rabbitmq/conf.d/90-custom.conf
              subPath: rabbitmq.conf
            - name: rabbitmq-config
              mountPath: /etc/rabbitmq/enabled_plugins
              subPath: enabled_plugins
          startupProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - rabbitmq-diagnostics -q check_running
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 30
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - rabbitmq-diagnostics -q check_running
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - rabbitmq-diagnostics -q check_port_connectivity
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 3
          resources:
            requests:
              cpu: ${PARAM_RABBITMQ_CPU_REQUEST}
              memory: ${PARAM_RABBITMQ_MEMORY_REQUEST}
            limits:
              cpu: ${PARAM_RABBITMQ_CPU_LIMIT}
              memory: ${PARAM_RABBITMQ_MEMORY_LIMIT}
      volumes:
        - name: rabbitmq-data
          persistentVolumeClaim:
            claimName: rabbitmq-data
        - name: rabbitmq-config
          configMap:
            name: rabbitmq-config
