apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mlflow-postgres-data
  labels:
    app.kubernetes.io/name: mlflow
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_MLFLOW_DB_DATA_SIZE}
