apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mlflow-artifacts
  labels:
    app.kubernetes.io/name: mlflow
    app.kubernetes.io/component: app
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_MLFLOW_ARTIFACT_SIZE}
