apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: coolify-redis-data
  labels:
    app.kubernetes.io/name: coolify
    app.kubernetes.io/component: cache
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: "1Gi"
