apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: valkey-data
  labels:
    app.kubernetes.io/name: valkey
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_VALKEY_DATA_SIZE}
