apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarqube-postgres-data
  labels:
    app.kubernetes.io/name: sonarqube
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_SONARQUBE_DB_DATA_SIZE}
