apiVersion: apps/v1
kind: Deployment
metadata:
  name: jenkins
  labels:
    app.kubernetes.io/name: jenkins
    app.kubernetes.io/component: app
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: jenkins
      app.kubernetes.io/component: app
  template:
    metadata:
      labels:
        app.kubernetes.io/name: jenkins
        app.kubernetes.io/component: app
    spec:
      containers:
        - name: jenkins
          image: docker.io/jenkins/jenkins:${PARAM_APP_IMAGE_TAG}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: agent
              containerPort: 50000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: jenkins-config
          volumeMounts:
            - name: jenkins-data
              mountPath: /var/jenkins_home
          startupProbe:
            httpGet:
              path: /login
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /login
              port: 8080
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /login
              port: 8080
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            requests:
              cpu: ${PARAM_JENKINS_CPU_REQUEST}
              memory: ${PARAM_JENKINS_MEMORY_REQUEST}
            limits:
              cpu: ${PARAM_JENKINS_CPU_LIMIT}
              memory: ${PARAM_JENKINS_MEMORY_LIMIT}
      volumes:
        - name: jenkins-data
          persistentVolumeClaim:
            claimName: jenkins-data
