apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opensearch-data
  labels:
    app.kubernetes.io/name: opensearch
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_OPENSEARCH_DATA_SIZE}
