apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: couchdb-data
  labels:
    app.kubernetes.io/name: couchdb
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_COUCHDB_DATA_SIZE}
