apiVersion: apps/v1
kind: Deployment
metadata:
  name: couchdb
  labels:
    app.kubernetes.io/name: couchdb
    app.kubernetes.io/component: database
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: couchdb
      app.kubernetes.io/component: database
  template:
    metadata:
      labels:
        app.kubernetes.io/name: couchdb
        app.kubernetes.io/component: database
    spec:
      containers:
        - name: couchdb
          image: docker.io/library/couchdb:${PARAM_APP_IMAGE_TAG}
          ports:
            - containerPort: 5984
              protocol: TCP
          envFrom:
            - secretRef:
                name: couchdb-credentials
          volumeMounts:
            - name: couchdb-data
              mountPath: /opt/couchdb/data
              subPath: data
          startupProbe:
            httpGet:
              path: /_up
              port: 5984
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
          livenessProbe:
            httpGet:
              path: /_up
              port: 5984
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /_up
              port: 5984
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            requests:
              cpu: ${PARAM_COUCHDB_CPU_REQUEST}
              memory: ${PARAM_COUCHDB_MEMORY_REQUEST}
            limits:
              cpu: ${PARAM_COUCHDB_CPU_LIMIT}
              memory: ${PARAM_COUCHDB_MEMORY_LIMIT}
      volumes:
        - name: couchdb-data
          persistentVolumeClaim:
            claimName: couchdb-data
