apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: devtron-postgres-data
  labels:
    app.kubernetes.io/name: devtron
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_DEVTRON_DB_DATA_SIZE}
