apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: devtron-nats-data
  labels:
    app.kubernetes.io/name: devtron
    app.kubernetes.io/component: nats
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi
