apiVersion: apps/v1
kind: Deployment
metadata:
  name: devtron-postgres
  labels:
    app.kubernetes.io/name: devtron
    app.kubernetes.io/component: database
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: devtron
      app.kubernetes.io/component: database
  template:
    metadata:
      labels:
        app.kubernetes.io/name: devtron
        app.kubernetes.io/component: database
    spec:
      containers:
        - name: postgres
          image: docker.io/library/postgres:14.9-alpine
          ports:
            - containerPort: 5432
              protocol: TCP
          envFrom:
            - secretRef:
                name: devtron-secret
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
              subPath: pgdata
            - name: initdb
              mountPath: /docker-entrypoint-initdb.d
          startupProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - pg_isready -U postgres
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - pg_isready -U postgres
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - pg_isready -U postgres
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            requests:
              cpu: ${PARAM_DEVTRON_POSTGRES_CPU_REQUEST}
              memory: ${PARAM_DEVTRON_POSTGRES_MEMORY_REQUEST}
            limits:
              cpu: ${PARAM_DEVTRON_POSTGRES_CPU_LIMIT}
              memory: ${PARAM_DEVTRON_POSTGRES_MEMORY_LIMIT}
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: devtron-postgres-data
        - name: initdb
          configMap:
            name: devtron-postgres-initdb
