apiVersion: v1
kind: Service
metadata:
  name: devtron-nats
  labels:
    app.kubernetes.io/name: devtron
    app.kubernetes.io/component: nats
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: devtron
    app.kubernetes.io/component: nats
  ports:
    - name: client
      port: 4222
      targetPort: 4222
      protocol: TCP
    - name: cluster
      port: 6222
      targetPort: 6222
      protocol: TCP
    - name: monitor
      port: 8222
      targetPort: 8222
      protocol: TCP
