apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: twenty-data
  labels:
    app.kubernetes.io/name: twenty
    app.kubernetes.io/component: app
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_TWENTY_DATA_SIZE}
