apiVersion: v1
kind: Service
metadata:
  name: cassandra
  labels:
    app.kubernetes.io/name: cassandra
    app.kubernetes.io/component: database
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: cassandra
    app.kubernetes.io/component: database
  ports:
    - port: 9042
      targetPort: 9042
      nodePort: ${PARAM_CASSANDRA_NODEPORT}
      protocol: TCP
