apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ferretdb-postgres-data
  labels:
    app.kubernetes.io/name: ferretdb
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_FERRETDB_DB_DATA_SIZE}
