apiVersion: v1
kind: Secret
metadata:
  name: mongodb-credentials
  labels:
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/component: database
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: "${PARAM_MONGO_INITDB_ROOT_USERNAME}"
  MONGO_INITDB_ROOT_PASSWORD: "${PARAM_MONGO_INITDB_ROOT_PASSWORD}"
