apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb
  labels:
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/component: database
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: mongodb
      app.kubernetes.io/component: database
  template:
    metadata:
      labels:
        app.kubernetes.io/name: mongodb
        app.kubernetes.io/component: database
    spec:
      containers:
        - name: mongodb
          image: docker.io/library/mongo:${PARAM_APP_IMAGE_TAG}
          ports:
            - containerPort: 27017
              protocol: TCP
          envFrom:
            - secretRef:
                name: mongodb-credentials
          volumeMounts:
            - name: mongodb-data
              mountPath: /data/db
          startupProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - mongosh --quiet --eval "db.adminCommand('ping')" -u ${PARAM_MONGO_INITDB_ROOT_USERNAME} -p ${PARAM_MONGO_INITDB_ROOT_PASSWORD} --authenticationDatabase admin
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
          livenessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - mongosh --quiet --eval "db.adminCommand('ping')" -u ${PARAM_MONGO_INITDB_ROOT_USERNAME} -p ${PARAM_MONGO_INITDB_ROOT_PASSWORD} --authenticationDatabase admin
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - -c
                - mongosh --quiet --eval "db.adminCommand('ping')" -u ${PARAM_MONGO_INITDB_ROOT_USERNAME} -p ${PARAM_MONGO_INITDB_ROOT_PASSWORD} --authenticationDatabase admin
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            requests:
              cpu: ${PARAM_MONGODB_CPU_REQUEST}
              memory: ${PARAM_MONGODB_MEMORY_REQUEST}
            limits:
              cpu: ${PARAM_MONGODB_CPU_LIMIT}
              memory: ${PARAM_MONGODB_MEMORY_LIMIT}
      volumes:
        - name: mongodb-data
          persistentVolumeClaim:
            claimName: mongodb-data
