apiVersion: v1
kind: Service
metadata:
  name: mongodb
  labels:
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/component: database
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/component: database
  ports:
    - port: 27017
      targetPort: 27017
      nodePort: ${PARAM_MONGODB_NODEPORT}
      protocol: TCP
