apiVersion: v1
kind: ConfigMap
metadata:
  name: openbao-config
  labels:
    app.kubernetes.io/name: openbao
    app.kubernetes.io/component: vault
data:
  openbao.hcl: |
    ui = true

    listener "tcp" {
      address     = "0.0.0.0:8200"
      tls_disable = 1
    }

    storage "file" {
      path = "/openbao/data"
    }

    disable_mlock = true
