apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openbao-data
  labels:
    app.kubernetes.io/name: openbao
    app.kubernetes.io/component: vault
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_OPENBAO_DATA_SIZE}
