apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: neo4j-data
  labels:
    app.kubernetes.io/name: neo4j
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_NEO4J_DATA_SIZE}
