apiVersion: v1
kind: Service
metadata:
  name: seaweedfs-filer-http
  labels:
    app.kubernetes.io/name: seaweedfs
    app.kubernetes.io/component: storage
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: seaweedfs
    app.kubernetes.io/component: storage
  ports:
    - name: http
      port: 80
      targetPort: 8888
      protocol: TCP
