apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ghost-mysql-data
  labels:
    app.kubernetes.io/name: ghost
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_GHOST_DB_DATA_SIZE}
