apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: harbor-db-data
  labels:
    app.kubernetes.io/name: harbor
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_HARBOR_DB_DATA_SIZE}
