apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: harbor-registry-data
  labels:
    app.kubernetes.io/name: harbor
    app.kubernetes.io/component: registry
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_HARBOR_REGISTRY_DATA_SIZE}
