apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: harbor-jobservice-data
  labels:
    app.kubernetes.io/name: harbor
    app.kubernetes.io/component: jobservice
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi
