apiVersion: apps/v1
kind: Deployment
metadata:
  name: harbor-portal
  labels:
    app.kubernetes.io/name: harbor
    app.kubernetes.io/component: portal
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: harbor
      app.kubernetes.io/component: portal
  template:
    metadata:
      labels:
        app.kubernetes.io/name: harbor
        app.kubernetes.io/component: portal
    spec:
      containers:
        - name: harbor-portal
          image: "docker.io/goharbor/harbor-portal:${PARAM_APP_IMAGE_TAG}"
          ports:
            - containerPort: 8080
              protocol: TCP
          volumeMounts:
            - name: portal-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
          startupProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 12
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            requests:
              cpu: ${PARAM_HARBOR_PORTAL_CPU_REQUEST}
              memory: ${PARAM_HARBOR_PORTAL_MEMORY_REQUEST}
            limits:
              cpu: ${PARAM_HARBOR_PORTAL_CPU_LIMIT}
              memory: ${PARAM_HARBOR_PORTAL_MEMORY_LIMIT}
      volumes:
        - name: portal-config
          configMap:
            name: harbor-portal-config
