apiVersion: v1
kind: Service
metadata:
  name: harbor-registry
  labels:
    app.kubernetes.io/name: harbor
    app.kubernetes.io/component: registry
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: harbor
    app.kubernetes.io/component: registry
  ports:
    - name: registry
      port: 5000
      targetPort: 5000
      protocol: TCP
    - name: registryctl
      port: 8080
      targetPort: 8080
      protocol: TCP
