apiVersion: v1
kind: Service
metadata:
  name: harbor-core
  labels:
    app.kubernetes.io/name: harbor
    app.kubernetes.io/component: core
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: harbor
    app.kubernetes.io/component: core
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
