apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: joomla-data
  labels:
    app.kubernetes.io/name: joomla
    app.kubernetes.io/component: app
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_JOOMLA_DATA_SIZE}
