apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: odoo-data
  labels:
    app.kubernetes.io/name: odoo
    app.kubernetes.io/component: app
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_ODOO_DATA_SIZE}
