apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: keycloak-postgres-data
  labels:
    app.kubernetes.io/name: keycloak
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: ${PARAM_KEYCLOAK_DB_DATA_SIZE}
